.nav-link svg,
.navbar-brand svg {
  color: #32a883;
}

span {
  color: #32a883;
  font-family: "Orbitron";
  font-weight: 600;
  margin: 0 10px;
}

.nav-item {
  border-radius: 10px;
  padding: 2px;
  margin-right: 4px;
}

.nav-item:hover {
  background-color: #f1f3cf;
}

.active {
  background-color: #ddba1d;
}
